@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #171616; }

.container {
  background-color: var(--color-grey-light-2);
  max-width: 120rem;
  min-height: 60rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  margin: 8rem auto; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex;
  flex-direction: row;
  height: 53rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%; }

.hotel-view {
  background-color: var(--color-grey-light-2);
  flex: 1; }

.logo {
  margin: 0 2rem; }
  .logo_img {
    height: 3.7rem;
    padding: .25rem; }

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .form_search {
    background-color: var(--color-grey-light-3);
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border: none;
    padding: .7rem 1.5rem;
    border-radius: 10rem;
    width: 85%;
    margin-right: -4rem;
    transition: all .3s; }
    .form_search::placeholder {
      font-family: inherit;
      font-weight: 100;
      font-size: inherit; }
    .form_search:focus {
      outline: none;
      width: 100%; }
  .form_btn {
    border: none;
    padding-top: .5rem; }
    .form_btn:hover > * {
      fill: var(--color-grey-dark-2); }
  .form_icon {
    height: 2rem;
    width: 2.8rem;
    fill: var(--color-grey-dark-2); }
    .form_icon:active, .form_icon:hover {
      fill: var(--color-grey-dark-1);
      transform: scale(0.98); }

.form_search:focus + .form_btn > * {
  fill: var(--color-grey-dark-1); }

.user-nav {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .user-nav_icon_box {
    position: relative; }
  .user-nav_bookmark {
    height: 2.5rem;
    width: 5rem;
    align-self: center; }
    .user-nav_bookmark > * {
      fill: var(--color-grey-dark-2);
      position: absolute; }
  .user-nav_bookmark_notification {
    position: absolute;
    font-size: 1rem;
    top: 1.2rem;
    right: .5rem;
    height: 1.8rem;
    width: 1.8rem;
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; }
  .user-nav_chat {
    height: 2.5rem;
    width: 4rem; }
    .user-nav_chat > * {
      fill: var(--color-grey-dark-2);
      position: absolute; }
  .user-nav_chat_notification {
    position: absolute;
    font-size: 1rem;
    top: 1.2rem;
    right: -.1rem;
    height: 1.8rem;
    width: 1.8rem;
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; }
  .user-nav_box {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center; }
  .user-nav_img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }
