.container{
background-color: var(--color-grey-light-2);
max-width: 120rem;
min-height: 60rem;
box-shadow: 0 2rem 6rem rgba(0, 0, 0,.3);
margin: 8rem auto;
}

.header{
height: 7rem;
background-color: #fff;
border-bottom: var(--color-grey-light-2);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.content{
   display: flex;
   flex-direction: row;
   height: 53rem;
}

.sidebar{
background-color: var(--color-grey-dark-1);
flex: 0 0 20%;


}

.hotel-view{
    background-color: var(--color-grey-light-2);
    flex: 1;

}

// header layout start


.logo{
    margin: 0 2rem;
    &_img{
        height: 3.7rem;
        padding: .25rem;
    }
}

.form{
   
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
 

    &_search{
        background-color: var(--color-grey-light-3);
        border: none;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        border: none;
        padding: .7rem 1.5rem;
        border-radius: 10rem;
        width:  85%;
        margin-right: -4rem;
        transition: all .3s;

        

        &::placeholder{
            font-family: inherit;
        font-weight: 100;
        font-size: inherit;
        }

        &:focus{
            outline: none;
            width:  100%;
        }
        &:active{
            // outline: none;
            
        }


    }

    &_btn{
        border: none;
        padding-top: .5rem;

        &:hover > *{
            fill: var(--color-grey-dark-2);
        }
        
    }

    &_icon{
        height: 2rem;
        width: 2.8rem;
        fill: var(--color-grey-dark-2);
        
  
    &:active,&:hover{
        fill: var(--color-grey-dark-1);
        transform: scale(.98);
    }
    }
}

.form_search:focus + .form_btn > *{
    fill: var(--color-grey-dark-1);
}


.user-nav{
    height: 100%;
    width: 25%;
    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    
   

    &_icon_box{
        position: relative;
        
    }

    &_bookmark{
       
      
        height: 2.5rem;
        width: 5rem;
        align-self: center;
       
        
       

        &>*{
            fill: var(--color-grey-dark-2);
            position: absolute;
            

        }

       

       
    }

    &_bookmark_notification{
        position: absolute;
        font-size: 1rem;
        top: 1.2rem;
        right: .5rem;
        height: 1.8rem;
        width: 1.8rem;
        background-color: red;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    &_chat{
        height: 2.5rem;
        width: 4rem;
        
        &>*{
            fill: var(--color-grey-dark-2);
            position: absolute;
        }
    }
    
    &_chat_notification{
        position: absolute;
        font-size: 1rem;
        top: 1.2rem;
        right: -.1rem;
        height: 1.8rem;
        width: 1.8rem;
        background-color: red;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    &_box{
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        justify-content: center;
        align-items: center;
    }

    &_img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
     
    }

    &_user-name{

    }
}